# User info for admin user in WP-installs
adminUser=admin
adminMail=admin@example.com

# Basepaths for WP-installs, WP is installed to $basePath/$userName
basePath=/srv

# Site name = user name that executes the site.
userNames="org1 org2"


##
# You don't have to touch the definitions beyond this point.
##
PATH=$PATH:/usr/sbin