# wp-mass-admin - Wordpress administration tool for managing many WP-sites
#minute hour    dom     week    month	user    script

# Update WP-sites once a day
00  23  *   *   *   root    /usr/local/bin/wpma update
# Renew https certs twice a month
30  23  1   *   *   root    /usr/local/bin/wpma renew-certs
30  23  16  *   *   root    /usr/local/bin/wpma renew-certs
# Scan all Wordpress sites for vulnerabilities once a week
0   12	*	*	0	nobody  /usr/local/bin/wpma scan

