# User info for admin user in WP-installs
admin_user=admin
admin_mail=admin@example.com

# Basepaths for WP-installs, WP is installed to $basePath/$userName
base_path=/srv

# Site name = user name that executes the site.
user_names=""

# Use letsencrypt for HTTPS? If so, _global_ DNS records need to point to this server before installing!
use_https="no"

# Expiry limit in days before renewing certificates
exp_limit=30

# Whether to install WP plugin for active directory or not
active_directory="no"

##
# You don't have to touch the definitions beyond this point.
##
PATH=$PATH:/usr/sbin

