# User info for admin user in WP-installs
adminUser=admin
adminMail=admin@example.com

# Basepaths for WP-installs, WP is installed to $basePath/$userName
basePath=/srv

# Site name = user name that executes the site.
userNames=""

# Use letsencrypt for HTTPS? If so, _global_ DNS records need to point to this server before installing!
useHttps="no"

# Expiry limit in days before renewing certificates
expLimit=30

# Whether to install WP plugin for active directory or not
active_directory="no"

##
# You don't have to touch the definitions beyond this point.
##
PATH=$PATH:/usr/sbin

